<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome-1" />
    <meta name="title" content="<%= content.title %>" />
    <meta name="author" content="<%= content.author %>">
    <title>Clean View | <%= content.title %></title>

</head>

<body>
    <h3>Analyzed Time : <%= time %></h3>
    <% for ( let [key, value] of content ) { %>
        <h3 id="<%= key %>"><%= key %> : <% if (key === 'URL') { %><a href="<%= value %>"><%= value %></a> <% } else { %> <%= value %> <% } %></h3>
    <% } %>
    <script>
        var htmlDecode = (html) => new DOMParser().parseFromString(html, "text/html").documentElement.textContent
        window.onload = () => {
            document.getElementById("Body").innerHTML = 'Body :<br>' + htmlDecode(`<%= content.get("Body") %>`);
        }
    </script>
</body>

</html>